<%- include("./template/header.ejs") -%>

<% if (typeof manager !== "undefined") {%>   
	<div class="container manager">
	<% switch (manager) {
		case 'login' : %>
				<p class="baseline">Connecte toi en saisissant ton adresse mail, si tu n'as pas de compte <a href="/register">inscris toi</a> !</p>
				<form action="" method="POST">
					<%- include("./template/error.ejs") -%>
					<input type="email" name="email" placeholder="abc@exemple.com">
					<button class="btn">Valider</button>
				</form>
		     <% break;
		case 'register' : %>
				<p class="baseline">Inscris toi en saisissant ton adresse mail, si tu as un compte <a href="/">connecte toi</a> !</p>
				<form action="" method="POST">
					<%- include("./template/error.ejs") -%>
					<input type="email" name="email" placeholder="abc@exemple.com">
					<button class="btn">Valider</button>
				</form>
		     <% break;
		     case 'token' : %>
				<p class="baseline">Un message a été envoyer à l'adresse : <%= email %>, si vous n'avez pas reçu ce message, assurez-vous que votre adresse soit valide !</p>
				<form action="" method="POST">
					<%- include("./template/error.ejs") -%>
					<input type="text" name="token" placeholder="Entrer la clé de sécurité envoyée par mail...">
					<button>Valider</button>
				</form>
		     <% break;
		     case 'logout' : %>
				<h3>Veux-tu vraiment te déconnecter ?</h3>
				<form action="" method="POST">
					<%- include("./template/error.ejs") -%>
					<%- include("./template/success.ejs") -%>
					<div>
						<button name="logout" value="yes">Oui</button>
						<button name="logout" value="no">Non</button> 
					</div>
				</form>
		     <% break;
		     case 'start' : %>
				<h3>Bienvenue sur Space, pour finir ton inscription nous avons besoin de plus d'informations.</h3>
				<% if (locals.flash && locals.flash.error) {%>
					<div class="container-error">
						<p><%= flash.error %></p>
					</div>
				<% } %>
				<form action="" method="POST">
					<div>
						<div class="row">
							<input type="text" name="name" placeholder="Nom">
							<input type="text" name="firstName" placeholder="Prénom">
						</div>
						<input type="password" name="password" placeholder="Mot de passe">
						<input type="password" name="confirm_password" placeholder="Confirmer le mot de passe">
						<div class="row between" id="container">
							<div class="born">
								<div class="row under">
									<div class="custom-select" style="width: 100px;">
										<select name="day">
											<option>Jour</option>
											<% for (let i = 1; i < 32; i++) {%>
												<option><%= i %></option>
											<% } %>
										</select>
									</div>
									<div class="custom-select" style="width: 100px;">
										<select name="mouth">
											<option>Mois</option>
											<% for (let i = 0; i < months.length; i++) {%>
												<option><%= months[i] %></option>
											<% } %>
										</select>
									</div>
									<div class="custom-select" style="width: 100px;">
										<select name="year">
											<option>Année</option>
											<% for (let i = 0; i <= 100; i++) {%>
												<option><%= currentyear - i %></option>
											<% } %>
										</select>
									</div>
								</div>
							</div>
							<div class="custom-select">
							  <select name="country">
							    <option value="">Choisis ton pays :</option>
							    <% for (let properties in countries) { %>
									<option><%= countries[properties]["native"] %></option>
								<% } %>
							  </select>
							</div>
						</div>
						<button class="center">Valider</button>
					</div>
				</form>
		     <% break;
		} %>
	</div>
	
<% } %>
</body>

<%- include("./template/footer.ejs") -%>