<%- include("./template/header.ejs") -%>

<% if (typeof data.manager !== "undefined") {%>   
	<div class="container manager">
	<% switch (data.manager) {
		case 'login' : %>
				<p class="baseline">Connecte toi en saisissant ton adresse mail, si tu n'as pas de compte <a href="/register">inscris toi</a> !</p>
				<form action="" method="POST">
					<%- include("./template/error.ejs") -%>
					<input type="email" name="email" placeholder="abc@exemple.com" class=
					<% if (locals.flash && locals.flash.error && locals.flash.field === "email") {%>
									"error"
								<% } %>>
					<button class="btn">Valider</button>
				</form>
		     <% break;
		case 'register' : %>
				<p class="baseline">Inscris toi en saisissant ton adresse mail, si tu as un compte <a href="/">connecte toi</a> !</p>
				<form action="" method="POST">
					<%- include("./template/error.ejs") -%>
					<input type="email" name="email" placeholder="abc@exemple.com" class=
					<% if (locals.flash && locals.flash.error && locals.flash.field === "email") {%>
									"error"
								<% } %>>>
					<button class="btn">Valider</button>
				</form>
		     <% break;
		     case 'token' : %>
				<p class="baseline">Un message a été envoyer à l'adresse : <%= data.email %>, si vous n'avez pas reçu ce message, assurez-vous que votre adresse soit valide !</p>
				<form action="" method="POST">
					<%- include("./template/error.ejs") -%>
					<input type="text" name="token" placeholder="Entrer la clé de sécurité envoyée par mail..."  class=
					<% if (locals.flash && locals.flash.error && locals.flash.field === "name") {%>
									"error"
								<% } %>>
					<button>Valider</button>
				</form>
		     <% break;
		     case 'logout' : %>
				<h3>Veux-tu vraiment te déconnecter ?</h3>
				<form action="" method="POST">
					<%- include("./template/error.ejs") -%>
					<%- include("./template/success.ejs") -%>
					<div>
						<button name="logout" value="yes">Oui</button>
						<button name="logout" value="no">Non</button> 
					</div>
				</form>
		     <% break;
		     case 'start' : %>
				<h3>Bienvenue sur Space, pour finir ton inscription nous avons besoin de plus d'informations.</h3>
				<% if (locals.flash && locals.flash.error) {%>
					<div class="container-error">
						<p><%= flash.error %></p>
					</div>
				<% } %>
				<form action="" method="POST">
					<div>
						<div class="row">
								<input type="text" name="name" value="<%= data.values[0] === undefined ? "" : data.values[0] %>" placeholder="Nom" class=
								<% if (locals.flash && locals.flash.error && locals.flash.field === "name") {%>
									"error"
								<% } %>>
							<input type="text" name="firstname" value="<%= data.values[1] === undefined ? "" : data.values[1] %>" placeholder="Prénom" class=
							<% if (locals.flash && locals.flash.error && locals.flash.field === "firstName") {%>
									"error"
								<% } %>>
						</div>
						<div style="position: relative;">
							<input style="position: relative;" class="inputPass" id="input-password" type="password" name="password" placeholder="Mot de passe" value="<%= data.values[2] === undefined ? "" : data.values[2] %>" maxlength="20" minlength="4" class=
							<% if (locals.flash && locals.flash.error && locals.flash.field === "password") {%>
										"error"
							<% } %>>
							<svg onclick="toggle()" class="togglePassShow" id="show" width="25px" height="25px" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18 fa-3x"><path fill="#444" d="M288 288a64 64 0 0 0 0-128c-1 0-1.88.24-2.85.29a47.5 47.5 0 0 1-60.86 60.86c0 1-.29 1.88-.29 2.85a64 64 0 0 0 64 64zm284.52-46.6C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 96a128 128 0 1 1-128 128A128.14 128.14 0 0 1 288 96zm0 320c-107.36 0-205.46-61.31-256-160a294.78 294.78 0 0 1 129.78-129.33C140.91 153.69 128 187.17 128 224a160 160 0 0 0 320 0c0-36.83-12.91-70.31-33.78-97.33A294.78 294.78 0 0 1 544 256c-50.53 98.69-148.64 160-256 160z" class=""></path></svg> 
							<svg onclick="toggle()" class="togglePassHide hide" id="hide" width="25px" height="25px" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="eye-slash" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-eye-slash fa-w-20 fa-3x"><path fill="#444" d="M637 485.25L23 1.75A8 8 0 0 0 11.76 3l-10 12.51A8 8 0 0 0 3 26.75l614 483.5a8 8 0 0 0 11.25-1.25l10-12.51a8 8 0 0 0-1.25-11.24zM320 96a128.14 128.14 0 0 1 128 128c0 21.62-5.9 41.69-15.4 59.57l25.45 20C471.65 280.09 480 253.14 480 224c0-36.83-12.91-70.31-33.78-97.33A294.88 294.88 0 0 1 576.05 256a299.73 299.73 0 0 1-67.77 87.16l25.32 19.94c28.47-26.28 52.87-57.26 70.93-92.51a32.35 32.35 0 0 0 0-29.19C550.3 135.59 442.94 64 320 64a311.23 311.23 0 0 0-130.12 28.43l45.77 36C258.24 108.52 287.56 96 320 96zm60.86 146.83A63.15 63.15 0 0 0 320 160c-1 0-1.89.24-2.85.29a45.11 45.11 0 0 1-.24 32.19zm-217.62-49.16A154.29 154.29 0 0 0 160 224a159.39 159.39 0 0 0 226.27 145.29L356.69 346c-11.7 3.53-23.85 6-36.68 6A128.15 128.15 0 0 1 192 224c0-2.44.59-4.72.72-7.12zM320 416c-107.36 0-205.47-61.31-256-160 17.43-34 41.09-62.72 68.31-86.72l-25.86-20.37c-28.48 26.28-52.87 57.25-70.93 92.5a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448a311.25 311.25 0 0 0 130.12-28.43l-29.25-23C389.06 408.84 355.15 416 320 416z" class=""></path></svg>
						</div>

						<span></span>
						<input class="inputPassConfirm" type="password" id="input-password-confirm" name="confirm_password" value="<%= data.values[3] === undefined ? "" : data.values[3] %>" placeholder="Confirmer le mot de passe" class=
						<% if (locals.flash && locals.flash.error && locals.flash.field === "confirm_password") {%>
									"error"
						<% } %>>
						<div class="row between" id="container">
							<div class="born">
								<div class="row under">
									<div class="custom-select
									<% if (locals.flash && locals.flash.error && locals.flash.field === "day") {%>
										error
									<% } %>
									" style="width: 100px;">
										<select name="day">
											<option value="<%= data.values[4] === undefined ? "" : data.values[4] %>"><%= data.values[4] === undefined ? "Jour" : data.values[4] %></option>
											<% for (let i = 1; i < 32; i++) {%>
												<option value="<%= i %>"><%= i %></option>
											<% } %>
										</select>
									</div>
									<div class="custom-select
									<% if (locals.flash && locals.flash.error && locals.flash.field === "mouth") {%>
										error
									<% } %>
									" style="width: 100px;">
										<select name="month">
											<option value="<%= data.values[5] === undefined ? "" : data.values[5] %>"><%= data.values[5] === undefined ? "Mois" : data.values[5] %></option>
											<% for (let i = 0; i < data.months.length; i++) {%>
												<option value="<%= i + 1 %>"><%= data.months[i] %></option>
											<% } %>
										</select>
									</div>
									<div class="custom-select
									<% if (locals.flash && locals.flash.error && locals.flash.field === "year") {%>
										error
									<% } %>
									" style="width: 100px;">
										<select name="year">
											<option value="<%= data.values[6] === undefined ? "" : data.values[6] %>"><%= data.values[6] === undefined ? "Année" : data.values[6] %></option>
											<% for (let i = 0; i <= 100; i++) {%>
												<option value="<%= data.currentyear - i %>"><%= data.currentyear - i %></option>
											<% } %>
										</select>
									</div>
								</div>
							</div>
							<div class="custom-select
									<% if (locals.flash && locals.flash.error && locals.flash.field === "country") {%>
										error
									<% } %>">
							  <select name="country">
							    <option value="<%= data.values[7] === undefined ? "" : data.values[7] %>"><%= data.values[7] === undefined ? "Choisis ton pays :" : data.values[7] %></option>
							    <% for (let properties in data.countries) { %>
									<option value="<%= data.countries[properties]["name"] %>"><%= data.countries[properties]["name"] %></option>
								<% } %>
							  </select>
							</div>
						</div>
						<button class="center">Valider</button>
					</div>
				</form>
		     <% break;
		     case 'profile' : %>
		     <a href="/post/new"><button>Creer un post</button></a>
		     <br>
		    	<a href="/logout"><button>Se déconnecter</button></a>
		     <% break;
		} %>
	</div>
	
<% } %>
</body>

<%- include("./template/footer.ejs") -%>